<div class="odnHome-component">
    <header>
        <section class="left-side" ng-class="{'blur' : $ctrl.backgroundBlur}">

            <div class="header-content">
                <h1>Open Dev Network</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>

        </section>

        <section class="right-side" ng-class="{'blur' : !$ctrl.backgroundBlur}"
                 ng-click="$ctrl.backgroundBlur = true">

            <div class="header-content">
                <div ng-if="!$ctrl.registrationSuccessful">
                    <odn-register-form on-focus="$ctrl.backgroundBlur = true"
                                   on-blur="$ctrl.backgroundBlur = false"
                                   on-submit="$ctrl.register(data)"></odn-register-form>

                    <div class="reg-error" ng-if="$ctrl.registrationError">Un erreur est survenue lors de votre inscription. Veuillez vérifier que vos informations soient valides et reessayer.</div>
                    <span>Déjà inscrit ?</span>
                    <button class="button-clear">Connectez-vous</button>
                </div>
                <div ng-if="$ctrl.registrationSuccessful">
                    <h2>Votre inscription a bien été effectuée. Vous pouvez dès maintenant vous connecter à OpenDevNetwork !</h2>
                    <br/>
                    <button class="button-clear">Je me connecte</button>
                </div>
            </div>

        </section>
    </header>
</div>
