.form-field
    input, label
        display: block
        margin: 10px 0
    label
        font-weight: 700
        &.checkbox-label, .radio-label
            font-weight: 400
        i
            color: $success
    input, select
        padding: 4px
        border-radius: 5px
        border: solid 1px $light-grey
        &.large
            width: 100%
        &[type="submit"]
            padding: 6px
            background: $white
            border-radius: 10px
            color: $primary
            font-weight: 700
            font-size: 1.1em
            &[disabled]
                background: $light-grey
                color: $medium-grey
                cursor: not-allowed
                opacity: 0.5
            &.primary
                background: $primary
                color: $white
    ng-message
        i
            color: $danger

    &.inline
        input, label
            display: inline-block
