<div class="odnRegisterForm-component">
    <h2>Rejoignez nous dès maintenant</h2>
    <form name="registerForm" novalidate>
        <div class="form-field">
            <label>Pseudo <i class="fas fa-check" ng-if="registerForm.username.$valid"></i></label>
            <input class="large" name="username" type="text" ng-focus="$ctrl.onFocus()"
                   ng-model="$ctrl.newUser.username"
                   ng-minlength="4"
                   ng-maxlength="20"
                   is-available="/api/useravailable"
                   required />
            <ng-messages for="registerForm.username.$error" ng-if="registerForm.username.$dirty">
                <ng-message when="required">
                    <i class="fas fa-exclamation-triangle"></i>Veuillez spécifier un pseudo.
                </ng-message>
                <ng-message when="minlength">
                    <i class="fas fa-exclamation-triangle"></i>Votre pseudo doit comporter au moins 4 caractères.
                </ng-message>
                <ng-message when="maxlength">
                    <i class="fas fa-exclamation-triangle"></i>Votre pseudo doit comporter un maximum de 20 caractères.
                </ng-message>
                <ng-message when="available">
                    <i class="fas fa-exclamation-triangle"></i>Ce pseudo existe déjà.
                </ng-message>
            </ng-messages>
        </div>

        <div class="form-field">
            <label>Mot de passe <i class="fas fa-check" ng-if="registerForm.password.$valid"></i></label>
            <input class="large" name="password" type="password" ng-focus="$ctrl.onFocus()"
                   ng-model="$ctrl.newUser.password"
                   ng-minlength="6"
                   required />
            <ng-messages for="registerForm.password.$error" ng-if="registerForm.password.$dirty">
                <ng-message when="required">
                    <i class="fas fa-exclamation-triangle"></i>Veuillez spécifier un mot de passe.
                </ng-message>
                <ng-message when="minlength">
                    <i class="fas fa-exclamation-triangle"></i>Votre mot de passe doit comporter au moins 6 caractères.
                </ng-message>
            </ng-messages>
        </div>

        <div class="form-field">
            <label>Confirmez votre mot de passe <i class="fas fa-check" ng-if="registerForm.passwordMatch.$valid"></i></label>
            <input class="large" name="passwordMatch" type="password" ng-focus="$ctrl.onFocus()"
                   ng-model="$ctrl.newUser.passwordMatch"
                   password-match="{{$ctrl.newUser.password}}"
                   required>
            <ng-messages for="registerForm.passwordMatch.$error" ng-if="registerForm.passwordMatch.$dirty">
                <ng-message when="required">
                    <i class="fas fa-exclamation-triangle"></i>Veuillez confirmer votre mot de passe.
                </ng-message>
                <ng-message when="match">
                    <i class="fas fa-exclamation-triangle"></i>Vos mots de passes ne correspondent pas.
                </ng-message>
            </ng-messages>
        </div>
        
        <div class="form-field">
            <label>Email <i class="fas fa-check" ng-if="registerForm.email.$valid"></i></label>
            <input class="large" name="email" type="email" ng-focus="$ctrl.onFocus()"
                   ng-model="$ctrl.newUser.email"

                   is-available="/api/emailavailable"
                   required/>
            <ng-messages for="registerForm.email.$error" ng-if="registerForm.email.$dirty">
                <ng-message when="required">
                    <i class="fas fa-exclamation-triangle"></i>Veuillez spécifier une adresse email.
                </ng-message>
                <ng-message when="email">
                    <i class="fas fa-exclamation-triangle"></i>Veuillez rentrer une adresse email valide.
                </ng-message>
                <ng-message when="available">
                    <i class="fas fa-exclamation-triangle"></i>Cet email existe déjà.
                </ng-message>
            </ng-messages>
        </div>

        <div class="form-field">
            <input ng-disabled="registerForm.$invalid"type="submit" class="large" value="S'inscrire">
        </div>
    </form>
</div>
