<div class="odnLoginForm-component">
    <h2>Rejoignez nous dès maintenant</h2>
    <form>
        <div class="form-field">
            <label>Pseudo</label>
            <input class="large" type="text">
        </div>

        <div class="form-field">
            <label>Mot de passe</label>
            <input class="large" type="password">
        </div>

        <div class="form-field">
            <label>Confirmez votre mot de passe</label>
            <input class="large" type="password">
        </div>

        <div class="form-field">
            <label>Email</label>
            <input class="large" type="email">
        </div>

        <div class="form-field">
            <input type="submit" class="large" value="S'inscrire">
        </div>
    </form>
</div>
